.citacao {
	background-color: #D9E5E3;
	padding: 1rem;
	border: .5rem solid #c2ccca;
	width: 12.5rem;
	margin: 1rem 2rem;
	box-sizing: border-box;
}

.fiat{
	float: right;
}

.petrobras{
	float: left;
}

cite {
	text-align: right;
	font-style: italic;
}