.artigo {
    padding-bottom: 1.5rem;
    border-bottom: .05rem solid #ccc;
    margin-bottom: 1rem;
}

.leia-mais {
    padding: .4rem;
    margin: .8rem;
    display: block;
    font-size: 120%;
    text-align: center;
    background-color: #E6E7E8;
}